#arroseur_main{
    text-align: left;
    position: relative;
    margin: 1rem;
    border: 5px solid;
    border-radius: 30px;
    padding: 5px;
    background-color: rgba(249, 250, 240, 0.822);
    border-color: rgb(100, 188, 6);
    }

#arroseur_main h1 {
    color: rgb(100, 188, 6);
}

.water_btn {
    margin-left: -4px;
    z-index: 3;
}

.water_input {
    z-index: 5;
}