#frigo_main {
    position: relative;
    margin: 1rem;
    border: 5px solid;
    border-radius: 30px;
    padding: 5px;
    text-align: left;
    background-color: rgba(249, 250, 240, 0.822);
    border-color: rgb(45, 127, 190);
    
  }
.btn {
    margin-right: 5px;
}
#frigo_main h1 {
    color: rgb(45, 127, 190);
}

.input-group-text {
    margin-left: -3px;
    margin-right: -4px;
    z-index: 2;
}
.custom-select {
    z-index: 3;
}

#metrics{
     color: rgb(23, 23, 77);
     font-weight: 800;
     right: 5rem;
}
