
.container > input {
  width: 100%;
  padding: 1rem;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
.button_sub {
  background-color: #182c52;
  color: white;
  padding: 1rem;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.button_sub:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
}
.imgcontainer img{
  max-width: 100%;
  height: 10em;
}
.container {
  width: 90%;
  margin-left:5%;
}
span a{
    text-decoration: none;
}
span a:hover{
    color: rgb(61, 45, 105);
}
span.psw {
  float: right;
}
span.register {
    float: left;
}
span.acceuil{
    float: left;
}
span.devblog{
    position: absolute;
    font-size: smaller;
    bottom: 0;
    left: 0;
}
label{
    float: left;
}
