 #container_stock{
     margin-left: 5%;
     margin-top: 5%;
 }
 #QR{
     width: 6rem;
     height: 6rem;
 }

 input[type=text]{
    width: 15rem;
 }
 button[type=submit]{
     width: 40%;
 }